[submodule "packages/ingestion/data/docs2"]
	path = packages/ingestion/data/docs2
	url = https://github.com/MinaProtocol/docs2.git
[submodule "packages/ingestion/data/o1js"]
	path = packages/ingestion/data/o1js
	url = https://github.com/o1-labs/o1js.git
